python-dotenv
langchain
langchain-groq
langchain-community
fastapi
uvicorn
qdrant-client
langchain-text-splitters
fastembed
rank-bm25
ftfy
streamlit
requests
pypdf
cohere
langfuse==2.60.0
ragas
datasets
python-multipart